$blackColor: #212529;
$blackColor2: #232F3E;
$blackColor3: #131A22;
$yellowColor: #FFD814;
$yellowColor2:#FFA41C;
$color1: #232f3e;
$greenColor:#6f9a37;
$lightColor1: #007185;
$lightColor2:#ebebeb94;
$redColor1: #CC0C39;